doctype html
html
    head
        title=title
        meta(charset="utf-8")
        link(href="/css/main.css", rel="stylesheet")
    body
        ul#messages
            form(action="")
                input#m(autocomplete="off")
                button Send
        script(src="/js/jquery.min.js")
        script(src="/js/socket.io.js")
        script(src="/js/app.js")