doctype html
html
    head
        title Rooms
        meta(charset="utf-8")
        link(href="/css/main.css", rel="stylesheet")
    body
        ul#rooms
            each room in rooms
                li
                    a(href="/room/" + room._id)= room.name

        script(src="/js/jquery.min.js")
        script(src="/js/socket.io.js")
        script(src="/js/app.js")