doctype html
html
    head
        title=room.name
        meta(charset="utf-8")
        link(href="/css/main.css", rel="stylesheet")
    body
        h1= room.name
        ul#members
            each member in members
                li=member.name
        ul#messages
        form(action="/")
            input#m(autocomplete="off")
            button Send
        script(src="/js/jquery.min.js")
        script(src="/js/socket.io.js")
        script(src="/js/app.js")